
*{
    box-sizing: border-box;
    margin: 0;
}

#main-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*CSS Menu Chat ONG´s*/
#menu-ong{
    width:40%;
    border-radius: 5px;
    background-color: white;
}
#perfil-ong{
    width: 100%;
    padding-bottom: 10px;
}
.menu-ong , .menu-ong-sair{
    background-color: #ff9640;
    width:100%;
    color: white;
    padding:10px;
    margin-bottom:3%;
    text-align: center;
}
.menu-ong:hover{
    background-color: white;
    color: orange;
}
.menu-ong-sair:hover{
    background-color:red;
    color:white;
}
/*BOX de mensagens para a ONG*/
.mensagem-guardiao{
    border: 3px groove #ff9640;
    padding:10px;
    margin-bottom: 2%;

}
.mensagem-guardiao:hover{
    background-color:#ffa5003d;
}
#perfil-chat-guardiao{
    border-radius: 50%;
    width: 20%;
}

/* Iniciando CSS do titulo do Carrossel - Home */
.titulo-carrossel-home{
    bottom: 490px;
}

.titulo-carrossel-home h1{
    font-size: 3rem;
}

.titulo-carrossel-home p{
    margin-bottom: 0px;
}

/* Iniciando CSS da seção de busca - Home */
#container-busca-expandida{
    background-color: #FF9640;
    padding: 30px 40px;
    position: relative;
    bottom: 250px;
}

#container-busca-expandida h2{
    color: #ffffff;
    font-size: 2.5rem;   
}

.btn-busca-expandida{
    background-color: #6E5DB3;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.btn-busca-expandida:hover{
    background-color: #4a3f78;
}

/* Iniciando CSS da seção "Por que ser um Guardião PET?" - Home */
#seja-guardiao-home{
    text-align: center;
    margin-top: -230px;
}

#seja-guardiao-home h2{
    color: #343F4B;
    font-size: 2.8rem; 
    padding: 30px 0px;  
}

#seja-guardiao-home p{
    color: #343F4B;
    font-size: 1.4rem; 
}

/* Iniciando CSS da seção "Como funciona?" - Home */
#como-funciona-home{
    background-color: #F1F5FA;
    padding: 40px 20px;
    margin-top: 30px;
}

#como-funciona-home img{
    padding-top: 30px;
}

#como-funciona-home h4{
    color: #343F4B;
    padding: 12px 0px;
    text-transform: uppercase;
    font-size: 1.6rem;
}

#como-funciona-home p{
    color: #343F4B;
    font-size: 1.3rem;;
}

#como-funciona-home button{
    background-color: #6E5DB3;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 30px;
    border: none;    
    border-radius: 5px;
}

#como-funciona-home button:hover{
    background-color: #4a3f78;
}

/* Iniciando CSS da seção "Doações" - Home */
#doacoes-home{
    text-align: center;
    padding: 30px 0px;
}

#doacoes-home h2{
    color: #343F4B;
    font-size: 2.8rem; 
    padding: 30px 0px;  
}

#doacoes-home p{
    color: #343F4B;
    font-size: 1.4rem; 
}

#doacoes-home button{
    background-color: #6E5DB3;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 30px;
    border: none;    
    border-radius: 5px;
    margin: 20px 0px 50px 0px;
}

#doacoes-home button:hover{
    background-color: #4a3f78;
}
/*CSS PÁGINA SOBRE.PHP*/
.jumbotron.sobre{
    background-image: url("../img/perfil-sobre/dogs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    color:white;
}
#subtitulo-sobre{
    color:#ff9640;
}
.foto-perfil{
    border-radius: 50%;
    border: 1px solid #ff9640;
    background-color: gray;
}
/*CSS PÁGINA PARCEIROS*/
.jumbotron.parceiros{
    background-image: url("../img/parceiros/parceiro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    color:black;
}
#titulo-jumbo-parceiros{
    background-color:#ffffff82;
    border-radius: 5px;
    padding: 5px;
    color: #ff9640;
}
.foto-parceiros{
    width:30%;
}
#titulo-carousel-parceiros{
    text-align:center;
    padding:10px;
    color:#ff9640;
}
/*HEADER*/
header{
    background-color: #e5e9f2;   
}

.logoHeader{
    color: #ff9640;
}

.btnHeader{
    background-color: #B3ABD4;
    color: #ffffff;
    padding: 8px 15px;
    border: none;    
    border-radius: 5px;
    cursor: pointer;
}

.linkHeader{
    color: #47525E;
}


/*FOOTER*/
.coresFooter{
    background-color: #ff9640;
    color: white;
}


.btnFooter{
    background-color: #6E5DB3;
    color: #ffffff;
    padding: 8px 30px;
    border: none;    
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;  
}

.linkFooter{
    color: white;
}

/* Iniciando CSS da busca recolhida (include) */
#container-busca-recolhida{
    background-color: #FF9640;
    padding: 10px 40px 30px 40px;
    position: relative;
    bottom: 250px;
}

#container-busca-recolhida h2{
    color: #ffffff;
    font-size: 2.5rem;   
}

.container-seta-expande-busca{
    height: 30px;
}

.container-h2-expande-busca{
    height: 30px;
}

.ico-seta-expande-busca{
    font-size: 6rem;
    color: rgba(255, 255, 255, 0.8);
    transform: rotate(90deg);
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 0px;
    height: 0px;
    position: relative;
    left: 360px;
    top: 10px;
}

.ico-seta-expande-busca:hover{
    color: #ffffff;  
}

/*CSS Cadastro Guardião*/
#formGuardiao{
    background-color: #e5e9f2;
}

#botaoGuardiao{
    width: 200px;
    margin-left: 517px;
}

/*CSS Cadastro Animal*/
#formAnimal{
    background-color: #D6EBE8;
}

#botaoAnimal{
    width: 200px;
}

/*CSS Cadastro Ong*/
#formOng{
    background-color: #E7E2FC;
}

#botaoOng{
    width: 200px;
}
.espaco{
    line-height: 2.2;
}

/*página de perfil do animal*/
.perfil-animal {
    background-color: #D6EBE8;
}

#dados-animal p {
    line-height: 100%;
}

#perfil-animal-carrossel .carousel-indicators li {
    width: 13px;
    height: 13px;
}

.btn-envio {
    background-color: #6E5DB3;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
}

.btn-envio:hover {
    background-color:#4a3f78;
}

.btn-desativado {
    background-color: #ADB7C3;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
}


#botao-apadrinhar a {
    color: #ffffff;
}

#botao-apadrinhar a:hover {
    text-decoration: none;
}

/*busca reduzida nas páginas*/
.busca-reduzida {
    background-color: #FF9640;
    width: 200px;
    height: 45px;
}

.resultados-busca .card img:hover {
    opacity: 0.5;
}

.resultados-busca .card-body {
    background-color: #D6EBE8;
}

.resultados-busca a {
    color: black;
}

.resultados-busca a:hover {
    text-decoration: none;
}



/* PERFIL DAS ONGS*/

/*Informacoes perfil da ONG*/
#pfong_cx_info_principal{
    background-color: #E7E2FC;
}


#pfong_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 70px 70px 100px;
    text-align: justify;

}

#pfong_info h1{
    color: #47525e;
    font-weight: bold;   
}

#pfong_info p {
    color: #47525E;
}

/*Img do Perfil ONGS*/

#pfong_img{  
    background-image: url("../img/perfil_ong_imagem.png");
    background-color: #C0CCDA;
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
/* Parte onde podemos enviar uma mensagem */

#pfong_cx_i_txt i{
    font-size: 80px;
    color: #47525E;
}

#pfong_cx_i_txt p{
    
    margin-top:10px;
    margin-left:10px;
    font-weight: bold;

}

/* Iniciando a parte dos Animais que estao com as ONGS*/


#pfong_cx_animais{
    
    padding-top:60px;
    padding-bottom: 20px;
}
#pfong_cx_animais h1{
    color: #47525e;
    font-weight: bold;
}
#pfong_cx_animais p{
    color: #8190A5;;

}


#pfong_animais{
    margin-top:60px;
    margin-bottom: 60px;
    
    
}
.pfong_animais_imgs{
    width: 70%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#pfong_animais_img1{
    background-color: #F3F2F5;
   
}
#pfong_animais_img2{
    background-color: #F3F2F5;

}
#pfong_animais_img3{
    background-color: #F3F2F5;
}
.pfong_cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.pfong_cards h1{
    width:70%;
    margin-top:30px;
    margin-bottom: 15px;
}
.pfong_cards p{
   
    text-align: justify;
    width:70%;
}
#cx-btn{
    width: 100%;
    margin-right: 140px;
    margin-top:20px;
}
#cx-btn button{
    background-color: #6E5DB3;
    padding:5px 15px 5px 15px;
    color: white;
    text-transform: uppercase;
}

/*Iniciando estamos precisando*/

/*section*/
#pfong_precisa_cx_principal{
    background-color: #F3F2F5;
    padding: 60px 70px 60px 100px;
}
#pfong_precisa_cx_principal h1{
    margin-bottom:40px;
    color: #47525e;
    font-weight: bold;

}


#pfong_cx_precisa{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.pfong_precisando{
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
    height: 70px;
    margin: 20px;
    text-align: center;  
    padding-top: 20px;

}

/* Iniciando CSS da página Login */
#main-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 10px 0px 60px 0px;
    background-image: url(../img/bg_login.jpg);
    background-size: cover;
}

#main-login h1{
    color: #343F4B;
    font-size: 2.8rem; 
    padding: 30px 0px 15px 0px;  
}

#main-login h2{
    color: #6E5DB3;
    font-size: 1.8rem; 
    padding: 0px 0px 15px 0px;  
}

#container-form-login{
    background-color: rgba(255, 255, 255, 0.6);
    padding-bottom: 40px;
    margin-top: 50px;
    border-radius: 20px;
}

.label-lembrar-dados{
    font-size: 0.9rem;
    color: #343F4B;
}

.esqueci-senha{
    font-size: 0.9rem;
    text-align: end;
    color: #343F4B;
}

.esqueci-senha:hover{
    color: #4a3f78;
    font-weight: 500;
}

.btn-login-enviar {
    background-color: #6E5DB3;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
    width: 180px;
}

.btn-login-enviar:hover {
    background-color:#4a3f78;
}

/* Iniciando CSS da página Cadastre-se */
#main-cadastre-se{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding: 10px 0px 60px 0px;
    background-image: url(../img/bg_cadastre_se.jpg);
    background-size: cover;
}

#container-box-cadastre-se{
    background-color: rgba(255, 255, 255, 0.6);
    margin: 50px 20px 0px 20px;
    border-radius: 20px;
    padding-bottom: 40px;
}

#container-box-cadastre-se h1{
    color: #343F4B;
    font-size: 2.8rem; 
    padding: 55px 0px 15px 0px;  
}

#container-box-cadastre-se p{
    color: #343F4B;
    font-size: 1.1rem;
    text-align: justify;
    padding: 0px 0px 20px 0px;
}

#container-box-cadastre-se img{
    position: relative;
    top: 20px;
}

.bg-cadastre-se-guardiao{
    background-color: #FF9640;
    border-radius: 20px 20px 0px 0px;
    height: 70px;
}

.bg-cadastre-se-ong{
    background-color: #6E5DB3;
    border-radius: 20px 20px 0px 0px;
    height: 70px;
}

.cor-laranja{
    background-color: #FF9640;
}

.cor-laranja:hover{
    background-color: #E57011;
}

#container-box-cadastre-se .tem-cadastro{
    font-size: 0.9rem;
    color: #343F4B;
    text-align: center;
    padding: 30px 0px 0px 0px;
    margin: 0px;
}

#container-box-cadastre-se .tem-cadastro:hover{
    color: #4a3f78;
    font-weight: 500;
    text-decoration: none;
}