
*{
    box-sizing: border-box;
    margin: 0;
}

#main-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*CSS Menu Chat ONG´s*/
#menu-ong{
    width:40%;
    border-radius: 5px;
    background-color: white;
}
#perfil-ong{
    width: 100%;
    padding-bottom: 10px;
}
.menu-ong , .menu-ong-sair{
    background-color: #ff9640;
    width:100%;
    color: white;
    padding:10px;
    margin-bottom:3%;
    text-align: center;
}
.menu-ong:hover{
    background-color: white;
    color: orange;
}
.menu-ong-sair:hover{
    background-color:red;
    color:white;
}
/*BOX de mensagens para a ONG*/
.mensagem-guardiao{
    border: 3px groove #ff9640;
    padding:10px;
    margin-bottom: 2%;

}
.mensagem-guardiao:hover{
    background-color:#ffa5003d;
}
#perfil-chat-guardiao{
    border-radius: 50%;
    width: 20%;
}

/* Iniciando CSS do titulo do Carrossel - Home */
.titulo-carrossel-home{
    bottom: 490px;
}

.titulo-carrossel-home h1{
    font-size: 3rem;
}

.titulo-carrossel-home p{
    margin-bottom: 0px;
}

/* Iniciando CSS da seção de busca - Home */
#container-busca-expandida{
    background-color: #FF9640;
    padding: 30px 40px;
    position: relative;
    bottom: 250px;
}

#container-busca-expandida h2{
    color: #ffffff;
    font-size: 2.5rem;   
}

.btn-busca-expandida{
    background-color: #6E5DB3;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.btn-busca-expandida:hover{
    background-color: #4a3f78;
}

/* Iniciando CSS da seção "Por que ser um Guardião PET?" - Home */
#seja-guardiao-home{
    text-align: center;
    margin-top: -230px;
}

#seja-guardiao-home h2{
    color: #343F4B;
    font-size: 2.8rem; 
    padding: 30px 0px;  
}

#seja-guardiao-home p{
    color: #343F4B;
    font-size: 1.4rem; 
}

/* Iniciando CSS da seção "Como funciona?" - Home */
#como-funciona-home{
    background-color: #F1F5FA;
    padding: 40px 20px;
    margin-top: 30px;
}

#como-funciona-home img{
    padding-top: 30px;
}

#como-funciona-home h4{
    color: #343F4B;
    padding: 12px 0px;
    text-transform: uppercase;
    font-size: 1.6rem;
}

#como-funciona-home p{
    color: #343F4B;
    font-size: 1.3rem;;
}

#como-funciona-home button{
    background-color: #6E5DB3;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 30px;
    border: none;    
    border-radius: 5px;
}

#como-funciona-home button:hover{
    background-color: #4a3f78;
}

/* Iniciando CSS da seção "Doações" - Home */
#doacoes-home{
    text-align: center;
    padding: 30px 0px;
}

#doacoes-home h2{
    color: #343F4B;
    font-size: 2.8rem; 
    padding: 30px 0px;  
}

#doacoes-home p{
    color: #343F4B;
    font-size: 1.4rem; 
}

#doacoes-home button{
    background-color: #6E5DB3;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 30px;
    border: none;    
    border-radius: 5px;
    margin: 20px 0px 50px 0px;
}

#doacoes-home button:hover{
    background-color: #4a3f78;
}
/*CSS PÁGINA SOBRE.PHP*/
.jumbotron.sobre{
    background-image: url("../img/perfil-sobre/dogs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    color:white;
}
#subtitulo-sobre{
    color:#ff9640;
}
.foto-perfil{
    border-radius: 50%;
    border: 1px solid #ff9640;
    background-color: gray;
}
/*CSS PÁGINA PARCEIROS*/
.jumbotron.parceiros{
    background-image: url("../img/parceiros/parceiro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    color:black;
}
#titulo-jumbo-parceiros{
    background-color:#ffffff82;
    border-radius: 5px;
    padding: 5px;
    color: #ff9640;
}
.foto-parceiros{
    width:30%;
}
#titulo-carousel-parceiros{
    text-align:center;
    padding:10px;
    color:#ff9640;
}
/*HEADER*/
header{
    background-color: #e5e9f2;
}

.btnHeader{
    background-color: #6E5DB3 !important;
    color: white !important;
}

.linkHeader{
    color: black;
}


/*FOOTER*/
.coresFooter{
    background-color: #ff9640;
    color: white;
}


.btnFooter{
    background-color: #6E5DB3 !important;
    color: white;
}

.linkFooter{
    color: white;
}

/* Iniciando CSS da busca recolhida (include) */
#container-busca-recolhida{
    background-color: #FF9640;
    padding: 10px 40px 30px 40px;
    position: relative;
    bottom: 250px;
}

#container-busca-recolhida h2{
    color: #ffffff;
    font-size: 2.5rem;   
}

.container-seta-expande-busca{
    height: 30px;
}

.container-h2-expande-busca{
    height: 30px;
}

.ico-seta-expande-busca{
    font-size: 6rem;
    color: rgba(255, 255, 255, 0.8);
    transform: rotate(90deg);
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 0px;
    height: 0px;
    position: relative;
    left: 360px;
    top: 10px;
}

.ico-seta-expande-busca:hover{
    color: #ffffff;  
}