* {
    box-sizing: border-box;
    margin: 0;
}

/* Iniciando CSS extra large devices (1200px ou mais) */
/* classes comuns a todas as páginas */

.btn-roxo {
    background-color: #6E5DB3;
    color: #ffffff;
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
}

.btn-roxo:hover {
    background-color: #4a3f78;
}

.btn-roxo-outline{
    background-color: transparent;
    border: 1px solid #4a3f78;
    border-radius: 5px;
    color: #4a3f78;
    padding: 0.4rem 0.7rem;
}

.btn-roxo-outline:hover{
    background-color: #4a3f78;
    color: #ffffff;
}

.border-none{
    border: none;
}

::selection {
    background-color: #4a3f78;
    color: #FFFFFF;
}

.titleh3{
    color: #343F4B;
    font-size: 2.4rem;
    padding: 30px 0px;
}

.text{
    color: #343F4B;
    font-size: 1.4rem;
}

.cinza{
    color: #343F4B;
}

.largura-coluna{
    width: 16.66%;
}

.observacao-roxo{
    font-size: 12px;
    color: #4a3f78;
    font-style: italic;
}

.observacao-laranja{
    font-size: 12px;
    color: #ff9640;
    font-style: italic;
}

.alert-success-acoes{
    color: #d66203;
    background-color: #fbd2b0;
    border-color: #d66203;
}

.link-roxo{
    color:#6E5DB3;
}

.link-roxo:hover{
    color: #4a3f78;
}

.bg-cinza{
    background-color: #6c757d;
}

/*CSS Menu lateral ONG´s*/
#menu-ong {
    width: 40%;
    border-radius: 5px;
    background-color: white;
    margin-top: 3.4rem;
}
#user-icon{
    width:24px;
}

#perfil-ong {
    width: 80%;
    padding-bottom: 10px;
}

.menu-ong,
.menu-ong-sair {
    background-color: #ff9640;
    width: 100%;
    color: white;
    padding: 10px;
    margin-bottom: 3%;
    text-align: center;
}

.menu-ong:hover {
    background-color: white;
    color: orange;
}

.menu-ong-sair:hover {
    background-color: red;
    color: white;
}

/*menu lateral ong para deixar responsivo*/
.navbar-menu-principal {
    display: none;
}

.navbar-menu-itens.collapse {
    display: block;
}

.navbar-menu-itens.show {
    display: block;
}

/*BOX de mensagens para a ONG*/
.mensagem-guardiao {
    box-shadow: inset 0px -1px 0px 0px #dadbdc;
    padding: 10px;
}

.mensagem-guardiao:hover {
    background-color: #ffa5003d;
}

#perfil-chat-guardiao {
    border-radius: 50%;
    width: 20%;
}

/* Iniciando CSS Home */
#main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Iniciando CSS do titulo do Carrossel - Home */
.titulo-carrossel-home {
    bottom: 490px;
}

.titulo-carrossel-home h1 {
    font-size: 3rem;
}

.titulo-carrossel-home p {
    margin-bottom: 0px;
}

/* Iniciando CSS da seção de busca - Home */
#container-busca-expandida {
    background-color: #FF9640;
    padding: 30px 40px;
    position: relative;
    bottom: 250px;
}

#container-busca-expandida h2 {
    color: #ffffff;
    font-size: 2.5rem;
}

.btn-busca-expandida {
    text-transform: uppercase;
    width: 100%;
}

/* Iniciando CSS da seção "Por que ser um Guardião PET?" - Home */
#seja-guardiao-home {
    text-align: center;
    margin-top: -230px;
}

#seja-guardiao-home h2 {
    color: #343F4B;
    font-size: 2.8rem;
    padding: 30px 0px;
}

#seja-guardiao-home p {
    color: #343F4B;
    font-size: 1.4rem;
}

/* Iniciando CSS da seção "Como funciona?" - Home */
#como-funciona-home {
    background-color: #F1F5FA;
    padding: 40px 20px;
    margin-top: 30px;
}

#como-funciona-home img {
    padding-top: 30px;
}

#como-funciona-home h2 {
    color: #343F4B;
    padding: 30px 0px;
    font-size: 2.8rem;
}

#como-funciona-home h4 {
    color: #343F4B;
    padding: 12px 0px;
    text-transform: uppercase;
    font-size: 1.6rem;
}

#como-funciona-home p {
    color: #343F4B;
    font-size: 1.3rem;
    ;
}

#como-funciona-home button {
    text-transform: uppercase;
}

/* Iniciando CSS da seção "Doações" - Home */
#doacoes-home {
    text-align: center;
    padding: 30px 0px;
}

#doacoes-home h2 {
    color: #343F4B;
    font-size: 2.8rem;
    padding: 30px 0px;
}

#doacoes-home p {
    color: #343F4B;
    font-size: 1.4rem;
}

#doacoes-home button {
    text-transform: uppercase;
    margin: 20px 0px 50px 0px;
}

/*CSS PÁGINA SOBRE.PHP*/
#main-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner-sobre {
    background-image: url("../img/perfil-sobre/bg_sobre.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    padding: 150px 0px 100px 70px;
    display: flex;
    flex-direction: column;
}

#banner-sobre h1 {
    font-family: 'Satisfy', cursive;
    color: white;
    text-align: right;
    line-height: 60px;
    margin-top: 82px;
}

#banner-sobre p {
    color: white;
    text-align: right;
}

#sobre-nos {
    text-align: center;
    padding: 20px 0px;
}

#sobre-nos h2 {
    color: #343F4B;
    font-size: 2.8rem;
    padding: 20px 0px 30px 0px;
}

#sobre-nos p {
    color: #343F4B;
    font-size: 1.4rem;
}

#equipe-sobre {
    background-color: #F1F5FA;
    padding: 30px 20px;
    margin-top: 30px;
}

#equipe-sobre h3 {
    color: #ff9640;
    padding: 10px 0px 5px 0px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#equipe-sobre p {
    color: #343F4B;
    padding: 0px 20px;
    text-align: justify;
}

.foto-perfil {
    border-radius: 50%;
    width: 50%;
    border: 1px solid #ff9640;
    margin-top: 2rem;
}

/*CSS PÁGINA PARCEIROS*/
#banner-parceiros {
    background-image: url("../img/parceiros/bg_parceiros.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    padding: 150px 0px 100px 70px;
    display: flex;
    flex-direction: column;
}

#banner-parceiros h1 {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: white;
    text-align: right;
    line-height: 65px;
    margin-top: 82px;
}

#titulo-carousel-parceiros {
    text-align: center;
    padding: 60px 0px 30px 0px;
    color: #343F4B;
    font-size: 2.8rem;
}

#form-parceiros {
    background-color: #F1F5FA;
    padding: 80px 20px;
}

#form-parceiros h2 {
    color: #343F4B;
    font-size: 2.5rem;
    padding-bottom: 20px;
}

#form-parceiros p {
    color: #343F4B;
    font-size: 1.4rem;
}

#form-parceiros button {
    text-transform: uppercase;
}


/*HEADER*/
header {
    background-color: #010310cc;
}

.fonteHeader {
    color: #ff9640;
    font-family: "Rockwell";
    font-size: 1.5rem;
    font-weight: bold;
}

.fonteHeader:hover {
    color: #ff9640;
    text-decoration: none;
}

.header-link {
    color: #ffffff !important;
}

.header-link:hover {
    color: #6e5db3 !important;
}

/*FOOTER*/

footer {
    background-color: #ff9640;
    color: white;
    padding: 40px 20px;
}

footer .menu-link {
    color: #ffffff;
    line-height: 2;
}

footer img {
    width: 30px;
    margin-right: 15px;
}

/* Iniciando CSS da busca recolhida (include) */
.alinhamento-busca-recolhida {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#container-busca-recolhida {
    background-color: #4a3f78;
    padding: 10px 30px 10px 30px;
}

#container-busca-recolhida h2 {
    color: #ffffff;
    font-size: 2.5rem;
}

.ico-seta-expande-busca {
    font-size: 6rem;
    color: rgba(255, 255, 255, 0.8);
    transform: rotate(90deg);
    background-color: transparent;
    border: none;
    line-height: 0;
}

.ico-seta-expande-busca:hover {
    color: #ffffff;
}

.ico-seta-expande-busca,
.ico-seta-expande-busca:focus {
    outline: 0;
    box-shadow: none !important;
}

#busca-recolhida-titulo {
    padding: 10px 15px;
}

.btn-busca-recolhida {
    background-color: #FF9640;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.btn-busca-recolhida:hover {
    background-color: #E57011;
}

/*CSS Cadastro Guardião*/
#formGuardiao {
    background-color: #fdead1;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.tituloGuardiao {
    color: #FF9640;
}

.btnGuardiao {
    cursor: pointer;
    float: right;
}


/*CSS Cadastro Animal*/
#formAnimal {
    background-color: #D6EBE8;
    margin-top: 8rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.tituloAnimal {
    color: #2F7169;
}

.tituloCaracteristicasAnimal {
    color: #343F4B;
    font-weight: 700;
    font-size: 20px;
}

.botaoAnimal {
    padding: 8px 15px;
    cursor: pointer;
}


.botaoLimparECadastro {
    float: right;
}


/*CSS Cadastro Ong*/
#formOng {
    background-color: #E7E2FC;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.tituloOng {
    color: #6E5DB3;
}

.btnOng {
    cursor: pointer;
    float: right;
}


/*CSS Cadastro de Anúncio*/
#formAnuncio {
    background-color: #e5e9f2;
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
}

.formAnuncio {
    margin-right: 0;
}

.tituloAnuncio {
    color: #343F4B;
}

#botaoAnuncio {
    width: 200px;
    margin-left: 590px;
}

.espaco {
    line-height: 2.2;
}

/*página de perfil do animal*/
#perfil-anim-cx-info {
    padding: 40px 0px 40px 0px;
}

#perfil_anim_icon-msgm {
    width: 54px;
    margin-left: 15px;
}

.perfil-anim-icon-respos {
    width: 20px;
}

#perfil-animal {
    background-color: #D6EBE8;
    padding-top: 85px;
}

#perfil-animal p, #perfil-animal h1{
    color: #343F4B;
}

#perfil-animal a{
    text-decoration: none;
    color: #343F4B;
}

#perfil-animal a:hover{
    font-weight: 500;
}

.perfil-animal-sobre{
    color: #343F4B;
}

#dados-animal p {
    line-height: 100%;
}

#perfil-animal-carrossel .carousel-indicators li {
    width: 13px;
    height: 13px;
}

.perfil-anim-btn-envio {
    background-color: #6E5DB3;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
}

.perfil-anim-btn-envio:hover {
    background-color: #4a3f78;
}

.perfil-anim-btn-desativado {
    background-color: #ADB7C3;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
}

#apadrinhar {
    background-color: #D6EBE8;
    color: #343F4B;
}

#botao-apadrinhar a {
    color: #ffffff;
}

#botao-apadrinhar a:hover {
    text-decoration: none;
}

/*busca reduzida nas páginas*/
.busca-reduzida {
    background-color: #FF9640;
    width: 200px;
    height: 45px;
}

.resultados-busca {
    padding-top: 85px;
}

.resultados-busca .card img:hover {
    opacity: 0.5;
}

.resultados-busca .card-body {
    background-color: #D6EBE8;
}

.resultados-busca a {
    color: #343F4B;
}

.resultados-busca a:hover {
    text-decoration: none;
}

#img-pet-busca{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

#img-pet-perfil{
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.pet-description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* PERFIL DAS ONGS E GUARDIÕES */

/*Informacoes*/
#pfong_cx_info_principal {
    /* ongs */
    background-color: #E7E2FC;
    padding: 10% 5% 5% 5%;
}

#pfG_cx_info_principal {
    /* guardiões */
    background-color: #fdead1;
    padding: 10% 5% 5% 5%;
}

#perfilOng_imagem {
    /* ongs */
    width: 280px;
}

#perfilGua_imagem {
    /* guardiões */
    width: 300px;
}

/* Enviar mensagem - Denunciar Perfil */
#pfong_cx_i_txt {
    /* ongs */
    background-color: rgb(166, 160, 189);
    border-radius: 5px;
}

#pfong_cx_i_txt i {
    /* ongs */
    font-size: 80px;
    color: rgb(0, 0, 0);
}

#pfG_cx_i_txt i {
    /* guardiões */
    font-size: 40px;
    color: #47525E;
}

#pfG_cx_i_txt p {
    /* guardiões */
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    margin-right: 20px;
    font-size: 0.9rem;
}

/* Animais das Ongs e dos Guardiões */

#pets .card-body{
    background-color: #D6EBE8
}

#perfilOngGuar_animais{
    padding: 5%;
}


/* Mural das Ongs - Estamos Precisando de */

#pfong_precisa_cx_principal {
    background-color: #F3F2F5;
    padding: 60px 70px 100px 70px;

}

.pfong_precisando {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
}

/*CSS da página de Anúncios*/
#anuncios {
    margin-top: 9rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.tituloGeralAnuncios{
    font-size: 2.8rem;
    color: #343F4B;
    padding: 30px 0px;
}


/* Iniciando CSS da página Login */
#main-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 60px 0px;
    background-image: url(../img/bg_login.jpg);
    background-size: cover;
}

#main-login h1 {
    color: #343F4B;
    font-size: 2.8rem;
    padding: 30px 0px 15px 0px;
}

#main-login h2 {
    color: #6E5DB3;
    font-size: 1.8rem;
    padding: 0px 0px 15px 0px;
}

#container-form-login {
    background-color: rgba(255, 255, 255, 0.6);
    padding-bottom: 40px;
    margin-top: 140px;
    border-radius: 20px;
}

.label-lembrar-dados {
    font-size: 0.9rem;
    color: #343F4B;
}

.esqueci-senha {
    font-size: 0.9rem;
    text-align: end;
    color: #343F4B;
}

.esqueci-senha:hover {
    color: #4a3f78;
    font-weight: 500;
}

.btn-login-enviar {
    text-transform: uppercase;
    width: 180px;
}


/* Iniciando CSS da página Cadastre-se */
#main-cadastre-se {
    display: flex;
    justify-content: center;
    padding: 10px 0px 60px 0px;
    background-image: url(../img/bg_cadastre_se.jpg);
    background-size: cover;
}

#container-box-cadastre-se {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 140px 20px 0px 20px;
    border-radius: 20px;
    padding-bottom: 40px;
}

#container-box-cadastre-se h1 {
    color: #343F4B;
    font-size: 2.8rem;
    padding: 55px 0px 15px 0px;
}

#container-box-cadastre-se p {
    color: #343F4B;
    font-size: 1.1rem;
    text-align: justify;
    padding: 0px 0px 20px 0px;
}

#container-box-cadastre-se img {
    position: relative;
    top: 20px;
}

.bg-cadastre-se-guardiao {
    background-color: #FF9640;
    border-radius: 20px 20px 0px 0px;
    height: 70px;
}

.bg-cadastre-se-ong {
    background-color: #6E5DB3;
    border-radius: 20px 20px 0px 0px;
    height: 70px;
}

.cor-laranja {
    background-color: #FF9640;
}

.cor-laranja:hover {
    background-color: #E57011;
}

#container-box-cadastre-se .tem-cadastro {
    font-size: 0.9rem;
    color: #343F4B;
    text-align: center;
    padding: 30px 0px 0px 0px;
    margin: 0px;
}

#container-box-cadastre-se .tem-cadastro:hover {
    color: #4a3f78;
    font-weight: 500;
    text-decoration: none;
}

.btn-busca-expandida{
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

#pfG_adotados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

#pfG_adotados h1 {
    color: #47525E;
    font-weight: bold;
    font-size: 1.8rem;
    padding-bottom: 20px;
    padding-top: 10px;
}

#pfG_adotados p {
    text-align: justify;
}

#pfG_animais_img4 {
    background-image: url("../img/pfGuardiao_img1.jpg");
    width: 100%;

}

#pfG_animais_img5 {
    background-image: url("../img/pfGuardiao_img_2.jpg");
    width: 100%;
}

#pfG_cx_temp {
    padding: 0px;
}

#pfG_temp h1 {
    color: #47525E;
    font-weight: bold;
    font-size: 1.8rem;
    padding-bottom: 20px;
    padding-top: 10px;
}

#pfG_temp p {
    text-align: justify;
}

#pfG_temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

/* css das páginas de admin */
.margem {
    margin-top: 100px;
}
/* INICIANDO CSS LARGE DEVICES (até 1200px) */
/* INICIANDO CSS LARGE DEVICES (até 1200px) */
/* INICIANDO CSS LARGE DEVICES (até 1200px) */
@media(max-width: 1200px) {

    /* PERFIL DA ONG E DO GUARDIÃO */
    #pfong_cx_info_principal {
        /* ongs */
        padding: 12% 5% 5% 5%;
    }

    #pfG_cx_info_principal {
        /* guardiões */
        padding: 12% 5% 5% 5%;
    }



    /*Início Página Index*/
    .titulo-carrossel-home h1 {
        font-size: 2.5rem;
    }

    .titulo-carrossel-home {
        bottom: 200px;
    }

    #container-busca-expandida {
        bottom: 92px;
    }

    #container-busca-expandida h2 {
        font-size: 2rem;
    }


    #seja-guardiao-home {
        margin-top: -45px;
    }

    #seja-guardiao-home h2 {
        font-size: 2rem;
        padding: 22px 0px;
    }

    #seja-guardiao-home p {
        font-size: 1.4rem;
        margin-top: -10px;
    }

    #como-funciona-home {
        padding: 0px 10px;
    }

    #como-funciona-home h2 {
        padding: 10px 0px;
        font-size: 2rem;
    }

    #como-funciona-home h4 {
        font-size: 1.2rem;
    }

    #como-funciona-home p {
        font-size: 1rem;
    }

    #como-funciona-home button {
        margin-bottom: 20px;
    }

    #doacoes-home h2 {
        font-size: 2rem;
    }

    #doacoes-home p {
        font-size: 1.4rem;
        margin: 17px;
    }

    /*Fim da página Index*/

    /*Início da página cadastre-se*/
    .botaoCadGuardiao {
        margin-top: 23px;
    }

    #main-cadastre-se {
        padding: 100px 0px;
    }

    /*Fim da página cadastre-se*/

    /*INCIO PAGINA PERFIL ANIMAL*/
    .cx-btn-respons{
        width: 100%;
    }
    .perfil-anim-btn-desativado{
        margin: 10px 0px;
    }
    /*FIM PAGINA PERFIL ANIMAL*/
    
    #img-pet-busca{
        height: 160px;
    }

    #img-pet-perfil{
        height: 190px;
    }
}


/* INICIANDO CSS MEDIUM DEVICES (até 992px) */
/* INICIANDO CSS MEDIUM DEVICES (até 992px) */
/* INICIANDO CSS MEDIUM DEVICES (até 992px) */
@media(max-width: 992px) {

    /* Estilos do header */

    header {
        width: 100vw;
    }

    .header-menu {
        padding: .3rem .2rem;
    }

    .fonteHeader {
        font-size: 1.2rem;
    }

    .header-link {
        font-size: 1.2rem;
        line-height: 2.5rem;
    }

    .lista-menu {
        padding-left: 35px;
        padding-bottom: 35px;
    }

    /* PERFIL DA ONG E DO GUARDIÃO */
    #pfong_cx_info_principal {
        /* ongs */
        padding: 15% 5% 5% 5%;
    }

    #pfG_cx_info_principal {
        /* guardiões */
        padding: 15% 5% 5% 5%;
    }

    #perfilOng_imagem {
        /* ongs */
        width: 250px;
    }

    #perfilGua_imagem {
        /* guardiões */
        width: 250px;
    }

    #pfOngGuard_titulo {
        /* ambos */
        font-size: 1.5em;
    }

    /* Iniciando CSS página Sobre  */
    #banner-sobre h1 {
        line-height: 50px;
    }

    /*Cadastro Guardiao*/
    #formGuardiao {
        margin-top: 72px;
    }

    /*Cadastro Ong*/
    #formOng {
        margin-top: 72px;
    }

    /*Cadastro Animal*/
    #formAnimal {
        margin-left: 0px;
    }

    /* Iniciando CSS página Parceiros  */
    #banner-parceiros h1{
        margin-top: 0px;
        font-size: 2.5rem;
        line-height: 50px;
    }

    /*---INICIO PERFIL DOS ANIMAIS---*/
    .perfil-anim-btn-envio {
        padding: 10px 15px;
    }

    .perfil-anim-btn-desativado {
        padding: 10px 15px;
        margin: 10px 0px;
    }

    #perfil_anim_icon-msgm {
        width: 40px;
        margin-left: 15px;
    }

    #perfil-anim-cx-img {
        padding: 0;
    }

    .perfil-anim-icon-respos {
        display: none;
    }

    #perfil-anim-icon-msgm-respos {
        display: flex;
    }

    #dados-animal {
        margin-top: 0;
        border: none;
        padding: 30px 10px;
        border-radius: 5px;
        padding-top: 0;
        padding-left: 28px;
    }
    .cx-btn-respons{
        width: 100%;
    }
    /*--FIM PERFIL ANIMAL--*/
    
    #img-pet-busca{
        height: 160px;
    }

}


/* INICIANDO CSS SMALL DEVICES (até 768px) */
/* INICIANDO CSS SMALL DEVICES (até 768px) */
/* INICIANDO CSS SMALL DEVICES (até 768px) */
@media(max-width: 768px) {

    /* Estilos do header */
    
        .header-menu {
            padding: .3rem .2rem;
        }
    
        .fonteHeader {
            font-size: 1.2rem;
        }
    
        .header-link {
            font-size: 1.2rem;
            line-height: 2.5rem;
        }
    
        .lista-menu {
            padding-left: 35px;        
            padding-bottom: 35px;        
        }
        
        /* PERFIL DA ONG E DO GUARDIÃO */
        #pfong_cx_info_principal{ /* ongs */
            padding: 15% 5% 5% 5%;
        }
    
        #pfG_cx_info_principal{ /* guardiões */
            padding: 15% 5% 5% 5%;
        }
    
        #perfilOng_imagem { /* ongs */
            margin-bottom: 30px;
            width: 230px;
        }
    
        #perfilGua_imagem { /* guardiões */
            margin-top: 45px;
            width: 230px;
        }
    
        .pfOngGuard_titulo { /* ambos */
            font-size: 1.7em;
        }

        #pfOng_cx_info_principal_ordem { /*ong */
            order: 2;
        }
        
        /* Iniciando CSS página Sobre  */
        #banner-sobre h1{
            font-size: 2rem;
            margin-top: 0px;
            line-height: 40px;
        }
    
        #sobre-nos h2{
            font-size: 2rem;
            padding: 10px 0px 15px 0px;
        }
    
        #sobre-nos p{
            font-size: 1rem;
        }
    
        #equipe-sobre{
            margin-top: 0px;
            padding-top: 30px;
        }
    
        #equipe-sobre h3{
            font-size: 1.4rem;
        }
    
        #equipe-sobre p{
            padding: 0px;
        }
        
        .foto-perfil{
            width: 150px;
        }

         /*Cadastro Guardiao*/
        #formGuardiao{
            margin-top: 72px;
        }

         /*Cadastro Ong*/
        #formOng{
            margin-top: 72px;
        }

        /*Cadastro Animal*/
        #formAnimal{
            margin-bottom: 0px;
            margin-left: 0px;
            margin-top: 0px;
            padding-top: 30px !important;
        }
        /*Menu Lateral ONG*/
        .navbar-menu-principal{
            display: none;
        }
        /*Menu lateral da ong*/
        .navbar-menu-principal{ 
            display: block;
            background-color:#ff9640;
            color:white;
            width:100%;
            padding: 10px;
        }
        .navbar-menu-itens.collapse { 
            display: none; 
        }
        .navbar-menu-itens.show { 
            display: block; 
        }
        #perfil-ong{
            display: none;
        }

        #menu-ong{
            width: 100%;
            margin-top: 72px;
            padding: 0px !important;
        }

        /*Página cadastro Anúncio*/
        #formAnuncio{
            margin-top: 0%;
            margin-left: 0%;
            margin-bottom: 0%;
        }

        /* Iniciando CSS página Parceiros  */
        #titulo-carousel-parceiros{
            font-size: 2rem;
        }

        #form-parceiros h2{
            text-align: center;
            font-size: 2rem;
        }
        
        #form-parceiros p{
            text-align: center;
            font-size: 1rem;
        }

        /*---INICIO PERFIL DOS ANIMAIS*/
        .perfil-anim-btn-envio {
            width: 100%;
        }
        .perfil-anim-btn-desativado {
            padding: 10px 15px;
            width: 100%;
            margin: 10px 0px;
        }
        .cx-btn-respons {
            width: 100%;
        }   

        #perfil-anim-cx-img {
            padding: 0;
        }   

        #perfil-anim-cx-info {
            margin-top: 20px;
        }   
        .perfil-anim-icon-respos {
            display: none;
        }   
        #perfil-anim-msgm-respons {
            display: none;
        }   
        #perfil-anim-icon-msgm-respos {
            display: flex;
            justify-content: center;
        }   
        /*--FIM PERFIL ANIMAL--*/

        /*Início da página cadastre-se*/
        #container-box-cadastre-se {
            margin: 100px 20px 0px 20px;
            width: 100%;
        }

        .botaoCadOng {
            margin-top: 26px;
        }

        .botaoCadGuardiao {
            font-size: 0.8rem;
            font-weight: bold;
            margin-top: 52px;
            height: 40px;
        }
        /*Fim da página cadastre-se*/
        
        #img-pet-busca{
            height: 168px;
        }
    }    

/* INICIANDO CSS EXTRA SMALL DEVICES (até 576px) */
/* INICIANDO CSS EXTRA SMALL DEVICES (até 576px) */
/* INICIANDO CSS EXTRA SMALL DEVICES (até 576px) */    
@media(max-width: 576px) {

    /* Estilos do header */

    .header-menu {
        padding: .3rem .2rem;
    }

    .fonteHeader {
        font-size: 1.2rem;
    }

    .header-link {
        font-size: 1.2rem;
        line-height: 2.5rem;
    }

    .lista-menu {
        padding-left: 35px;
        padding-bottom: 35px;
    }

    /* PERFIL DA ONG E DO GUARDIÃO */
    #pfong_cx_info_principal {
        /* ongs */
        padding: 30% 5% 5% 5%;
    }

    #pfG_cx_info_principal {
        /* guardiões */
        padding: 30% 5% 5% 5%;
    }

    #perfilOng_imagem { /* ongs */
        margin-top: 5px;
        margin-bottom: 20px;
        width: 170px;
    }

    #perfilGua_imagem {
        /* guardiões */
        margin-top: 0;
        margin-bottom: 20px;
        width: 170px;
    }

    .pfOngGuard_titulo { /* ambos */
        font-size: 1.5em;
    }

    #pfOng_cx_info_principal_ordem { /*ong */
        order: 2;
    }

    /* Iniciando CSS página Sobre  */
    #banner-sobre{
        display: none;
    }

    #sobre-nos{
        padding-top: 100px;
    }

    /*Cadastro Guardiao*/
    .tituloGuardiao {
        font-size: 1.3rem;
    }

    #formGuardiao {
        margin-top: 72px;
        margin-bottom: 0px;
    }

    /*Cadastro Ong*/
    .tituloOng {
        font-size: 1.62rem;
    }

    #formOng {
        margin-top: 72px;
        margin-bottom: 0px;
    }

    /*Cadastro Animal*/
    #formAnimal {
        margin-left: 0px;
        margin-bottom: 0px;
        padding-top: 30px !important;
        padding-right: 30px !important;
        padding-left: 48px !important;
    }

    ::placeholder {
        text-align: justify;
    }

    .botaoAnimal {
        margin-top: 10px;
    }

    .caracAnimal{
        margin-top: 5px;
    }

    /*Menu Lateral ONG*/
    .navbar-menu-principal {
        display: none;
    }

    /*Menu lateral da ong*/
    .navbar-menu-principal {
        display: block;
        background-color: #ff9640;
        color: white;
        width: 100%;
        padding: 10px;
    }

    .navbar-menu-itens.collapse {
        display: none;
    }

    .navbar-menu-itens.show {
        display: block;
    }

    /*Página cadastro Anúncio*/
    #formAnuncio {
        margin-top: 0%;
        margin-left: 0%;
        margin-bottom: 0%;
    }

    .tituloGeralAnuncios{
        font-size: 1.7rem;
    }

    /* Busca recolhida  */

    #container-busca-recolhida h2 {
        font-size: 1.2rem;
    }

    .ico-seta-expande-busca {
        font-size: 3rem;
    }

    .buscaRecolAjudar {
        order: 1;
    }

    .buscaRecolPorte {
        order: -0;
    }

    .buscaReclOng {
        order: 1;
    }

    .buscaRecolBotao {
        order: 1;
    }

    /*Início Página de login*/
    #main-login h1 {
        font-size: 1.8rem;
    }

    .largura-form-xs {
        width: 90%;
    }

    .sobre-senha {
        width: 43%;
    }

    #main-login h2 {
        font-size: 1.3rem;
    }

    #container-form-login {
        margin-top: 90px;
    }

    /*Fim Página de login*/

    /*Início Página Index*/
    .titulo-carrossel-home h1 {
        font-size: 1.4rem;
    }

    .titulo-carrossel-home p {
        color: transparent;
    }

    .titulo-carrossel-home {
        bottom: 10px;
    }

    #carrossel {
        margin-top: 71px;
        background-color: #F1F5FA;
    }

    #container-busca-expandida {
        bottom: 0px;
        height: 50%;
    }

    #container-busca-expandida h2 {
        font-size: 1.5rem;
    }

    .formulario-index {
        flex-direction: column;
    }

    .formulario-index-itens {
        margin-bottom: -19px;
    }

    .formPet {
        order: -3;
    }

    .formAjudar {
        order: 1;
    }

    .formSexo {
        order: -3;
    }

    .formBotao {
        order: 1;
    }

    #seja-guardiao-home {
        margin-top: -15px;
    }

    #seja-guardiao-home h2 {
        font-size: 1.8rem;
        padding: 22px 0px;
    }

    #seja-guardiao-home p {
        font-size: 1.1rem;
        margin-top: -10px;
    }

    #como-funciona-home {
        padding: 0px 10px;
    }

    #como-funciona-home h2 {
        padding: 10px 0px;
        font-size: 1.8rem;
    }

    #como-funciona-home h4 {
        font-size: 1.2rem;
        text-align: center;
    }

    #como-funciona-home p {
        font-size: 1rem;
        text-align: center;
    }

    #como-funciona-home button {
        margin-bottom: 20px;
    }

    #doacoes-home h2 {
        font-size: 1.8rem;
    }

    #doacoes-home p {
        font-size: 1rem;
        margin: 5px;
    }

    /*Fim da página Index*/

    /*Início da página cadastre-se*/
    #main-cadastre-se {
        flex-direction: column;
    }

    #container-box-cadastre-se {
        margin: 70px 20px 0px 17px;
        width: 90%;
    }

    #container-box-cadastre-se p {
        font-size: 1rem;
    }

    .botaoCadGuardiao {
        font-size: 0.9rem;
        height: 42px;
        font-weight: normal;
    }

    /*Fim da página cadastre-se*/
    /* Iniciando CSS página Parceiros  */
    #banner-parceiros{
        display: none;
    }

    #titulo-carousel-parceiros{
        padding: 120px 0px 30px 0px;
    }

    /*---INICIO PAGINA PERFIL DOS ANIMAIS---*/
    .perfil-anim-btn-envio {
        width: 100%;
    }

    .perfil-anim-btn-desativado {
        width: 100%;
    }

    .cx-btn-respons {
        width: 100%;
    }

    #perfil-anim-cx-img {
        padding: 0px 20px;
        margin-top: 50px;
    }

    #dados-animal {
        margin-top: 60px;
        padding: 15px 5px;
        order: 1;
    }

    .perfil-anim-icon-respos {
        display: none;
    }

    #perfil-anim-msgm-respons {
        display: none;
    }

    #perfil-anim-icon-msgm-respos {
        display: flex;
        justify-content: center;
    }

    #perfil-animal{
        padding-top: 0px;
    }

    #perfil-anim-cx-info{
        margin-top: 0px;
    }

    /*---FIM PERFIL ANIMAL---*/
    
    #img-pet-busca{
        height: 280px;
    }

    #img-pet-perfil{
        height: 280px;
    }

}
/*CSS MOSTRAR SENHA - form editar ong*/
#olho {
    cursor: pointer;
    position: absolute;
    width: 20px;
}

/* customização dos ícones das redes sociais*/
.rede{
    margin: 5px;
    float: left;
    transition: all 0.4s ease-out;
}

.rede:hover{
    cursor: pointer;
    transform: translateY(-20px);
}
/*CSS retorno validação via front do form de cadastro*/
.parsley-error {
    border-color: #f05050 !important;
}

.parsley-errors-list {
    display: none;
    margin: 0;
    padding: 0;
}

.parsley-errors-list.filled {
    display: block;
}

.parsley-errors-list > li {
    font-size: 12px;
    list-style: none;
    color: #f05050;
}

.tw-heart-box {
    position: relative;
    width: 70px;
    height: 70px;
    display: inline-block;
    top: -30px;
  }
  
  .tw-heart {
    background: url(http://i.imgur.com/zw8ahUb.png) no-repeat 0 0;
    display: inline-block;
    width: inherit;
    height: inherit;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  #curtir[ type="checkbox"]:checked + .tw-heart {
    transition: background .8s steps(28);
    background-position: -2800px 0;
  }
  
  #curtir[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  #acoes-pet {
     margin-bottom: -40px;
  }